@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 500;
    /* background-color: #e9e9eb; */
}

header, nav, footer {
    background-color: #333333;
    text-align: center;
    padding: 0.5em;
}

.contenedor_nav {
    display: flex; /* sin esta linea los atributos de flex no funcionan */
    justify-content: space-evenly;
}

.contenedor_social {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.item {
    padding: 0.5em;
}

.navbar {
    background-color: #e9e9eb;
    padding: 0.5em;
}