@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 500;
    margin: 0; 
    padding: 0; 
    /* background-color: #e9e9eb; */
}
:root{
    --color-gris-oscuro: #252525;
    --color-gris-claro: #929292
}

body{ 
    min-height: 100vh;       
}

/* --------- HEADER -------- */

header {
    text-align: center;
    padding: 0.5em;
    background-image: url(../img/header-tienda.jpg);
    background-size: cover;
    width: 100%;
}

.contenedor_header {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.item{
    width: 200px;
    height: 200px;
    margin-right: 23px;
    
}

.codoACodo{   
    width: 150px;
    height: 75px;
    margin-top: 23px;
    margin-left: 23px;
}

/* ---------------- NAV-BAR --------------- */

nav{
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.205);    
    backdrop-filter: blur(3px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;    
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

nav li{
    height: 50px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.514);    
    backdrop-filter: blur(3px);
    border: 3px solid #2244be;
    border-end-end-radius: 15px;
    border-start-start-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
    transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
} 

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2244be;
}

nav a:hover{
    color: #137df7;    
    
}

nav li:hover{
    box-shadow: 0px 0px 20px rgba(34, 133, 190, 0.8), 0px 0px 40px rgba(54, 204, 250, 0.5);
    border: 3px solid #0276fa;  
    border-end-end-radius: 15px;
    border-start-start-radius: 15px; 
}

.menu-bar{
    display: none;
}

.item-nav{
    width: 110px;
    height: 100px;
    display: none;
}

/* --------------------------- SIDEBAR ------------------------------------------*/

.sidebar{ 
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    margin: 10px;
}

/* --------- MAIN -------- */

main{
    width: 100%;
    min-height: 100vh;
    color: var(--color-gris-oscuro);
}

/* ------------------------------------------PORTADA------------------------------------------ */
.hero-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 2.5rem;
    margin-top: 2.5rem;
}
.hero-bici, .hero-casco{
    width: 50%;
}
.hero-img img{
    width: 100%;
    height: 248.6px;
    object-fit: cover;
    border-radius: 6px;
}
.hero-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1.2rem;
}
.hero-main h3{
    font-weight: 700;
}
/* 
===========================================CARDS======================================================== */
.product-destacados{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--color-gris-oscuro);
}
.product{
    font-size: 20px; 
}
.destacados{
    font-weight: 700;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(377px, 100%), 1fr));
    gap: 6px;
}
.card {
    width: 377px;
    color: var(--color-gris-oscuro);
    min-height: 490px;
    margin: 20px auto;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s ease-in;
    background-color: white;   
}
.card:hover {
    box-shadow: 3px 3px 8px 6px rgba(0,0,0,0.5);
}
.card-header {
    height: 350px;
    overflow: hidden;
}
.card-header img {
    height: 377px;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in;
}
.card:hover .card-header img {
    transform: scale(1.1);
}
.card-main {
    padding: 10px;
}
.card-main h2 {
    font-size: 18px;
}
.card-price {
    font-size:1.2rem;
}
.card-footer {
    padding: .5rem;
    display: flex;
    justify-content: center;
}
.button {
    width: 8rem;
    background: var(--color-gris-oscuro);
    color: white;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-in;
    font-family: 'Poppins', sans-serif;
}
.button:hover {
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
.button {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    background-size: 400%;
    border: none;
}
.button:hover::before {
    transform: scaleX(1.1);
}
.button-content {
    position: relative;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background:var(--color-gris-claro);
    transition: all 0.475s;
}

/* ==================================== FINAL CARD´S======================================= */

/* --------- FOOTER -------- */

footer {   
    width: 100%;
    background-color: #061033;
}

.group-box-1{
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 50px;
    padding: 20px 0px;
}

.contenedor-logo figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img{
    width: 250px;
}

.contenedor_social h2{
    color: white;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 20px;    
}  

.contenedor_social p{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.contenedor_social .redes a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;    
    margin-right: 10px;        
    border-radius: 25px;
    text-align:center;
    color: white;
    background-color: #061033;
}

a .fa-youtube:hover{
    border-radius: 13px;
    color: rgb(252, 19, 11);
    box-shadow: 0px 0px 20px rgba(190, 34, 34, 0.8), 0px 0px 40px rgba(250, 54, 54, 0.5);
}

a .fa-instagram:hover{
    border-radius: 25px;
    color: rgb(156, 34, 238);
    box-shadow: 0px 0px 20px rgba(172, 34, 190, 0.8), 0px 0px 40px rgba(194, 54, 250, 0.5);
}

a .fa-twitter:hover{
    border-radius: 25px;
    color: rgb(9, 172, 248);
    box-shadow: 0px 0px 20px rgba(34, 172, 190, 0.8), 0px 0px 40px rgba(54, 211, 250, 0.5);
}

a .fa-facebook:hover{
    border-radius: 25px;
    color: rgb(41, 5, 247);
    box-shadow: 0px 0px 20px rgba(50, 34, 190, 0.8), 0px 0px 40px rgba(74, 54, 250, 0.5);
}

.group-box-2{
    background-color: rgb(20, 20, 20);
    padding: 15px 10px;
    color: white;
    text-align: center;
}

.group-box-2 small{
    font-size: 0.75rem;
}


/*---------------------------- MEDIA QUERYS --------------------------*/

@media (max-width: 800px){
    .hideOnMobile {
        display: none;
    }

    .menu-bar{
        display: block;
    }

    .codoACodo{
        display: none;
    }

    .item{
        display: none;
    }

    .bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-nav{
        display: flex;
    }

    .group-box-1{
        width: 90%;        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 17px 0px;
    }

    .contenedor-logo {        
        display: none;
        
    } 
    .contenedor_social{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .contenedor_social h2{
        color: white;
        margin-left: 70px;
        margin-bottom: 25px;
        font-size: 20px;    
    }  

    .hero-container{
        flex-direction: column;
        align-items: center;
    }
    .hero-bici, .hero-casco{
        width: 70%;
    }
}

@media (max-width: 600px){
    .hideOnMobile {
        display: none;
    }

    .menu-bar{
        display: block;
    }

    .codoACodo{
        display: none;
    }
    
    .item{
        display: none;
    }

    .bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-nav{
        display: flex;
    }

    nav li{
        height: 50px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.514);    
        backdrop-filter: blur(3px);
        border: 2px solid #2244be;
        border-end-end-radius: 10px;
        border-start-start-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
        transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
    } 

    nav li:hover{
        box-shadow: 0px 0px 20px rgba(34, 133, 190, 0.8), 0px 0px 40px rgba(54, 204, 250, 0.5);
        border: 2px solid #0276fa;  
        border-end-end-radius: 10px;
        border-start-start-radius: 10px; 
    }

    .sidebar li{
        margin: 5px;    
    }

    .contenedor-logo {        
        display: none;
        
    } 
    .contenedor_social{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .contenedor_social h2{
        color: white;
        margin-left: 70px;
        margin-bottom: 25px;
        font-size: 17px;    
    }  

    .group-box-2 small{
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .hideOnMobile {
        display: none;
    }

    .menu-bar{
        display: block;
    }

    .codoACodo{
        display: none;
    }
    
    .item{
        display: none;
    }

    .bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-nav{
        display: flex;
    }  

    nav li{
        height: 50px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.514);    
        backdrop-filter: blur(3px);
        border: 1px solid #2244be;
        border-end-end-radius: 10px;
        border-start-start-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
        transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
    } 

    nav li:hover{
        box-shadow: 0px 0px 20px rgba(34, 133, 190, 0.8), 0px 0px 40px rgba(54, 204, 250, 0.5);
        border: 1px solid #0276fa;  
        border-end-end-radius: 10px;
        border-start-start-radius: 10px; 
    }

    .sidebar{
        width: 100%;
        flex-direction: column;
        align-items: center;
        
    }

    .sidebar li{
        margin: 5px;    
    }

    .group-box-1 {        
        display: none;
    }

    .group-box-2 small{
        font-size: 12px;
    }
}    
    




/* 
Paletas de colores utilizadas:
686868
e9e9eb
2244be 
*/