@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 500;
    /* background-color: #e9e9eb; */
}

header, nav, footer {
    background-color: #686868;
    text-align: center;
    padding: 0.5em;
}

.contenedor_header {
    display: flex;
    justify-content: space-between;
}

.contenedor_nav {
    display: flex; /* sin esta linea los atributos de flex no funcionan */
    justify-content: space-evenly;
}

.contenedor_social {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.item {
    padding: 0.5em;
}

.nav_buttons {
    background-color: #e9e9eb;
    padding: 0.5em;
    border: 2px solid #2244be;
    color: #2244be;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-end-end-radius: 15px;
    border-start-start-radius: 15px;
    cursor: cell;
}

/* 
Paletas de colores utilizadas:
686868
e9e9eb
2244be 
*/